/* ==UserStyle==
@name           forums.rockiemag.com
@namespace      github.com/openstyles/stylus
@version        1.0.1
@updateURL      https://gitlab.com/jesuisfol/theme.forum.rockiemag/raw/master/rockie.css
@homepageURL    https://gitlab.com/jesuisfol/theme.forum.rockiemag/
@description    Un thème sombre pour le forum de Rockie
@author         Fol
@preprocessor	stylus
@var	color		bg-base		'Couleur du fond'		#232828
@var	color		text-base	'Couleur du texte'		#999
@var	checkbox	colorblind	'Utiliser une seule couleur pour le texte' 0
@var	number		text-size 	'Taille de la police'	[14, 8, 50, 2, "px"]
==/UserStyle== */

/* Drity hack because of an error in Stylus-lang processor:
  a = hsl(0, 0%, 60%)
  b = a + 50%
  // Buggy Stylus restults in: b = hsl(0, 0%, 80%)
  // Instead of:  b = hsl(0, 0%, 90%)
*/
hue-shift(color, percentage)
	hue(color, hue(color) + hue(color) * percentage / 100)
satur-shift(color, percentage)
	saturation(color, saturation(color) + saturation(color) * percentage / 100)
light-shift(color, percentage)
	lightness(color, lightness(color) + lightness(color) * percentage / 100)


if not colorblind
	_text-bright = light-shift(text-base, 35) /* hsl(0, 0%, 80%) #ccc */
	_text = text-base                         /* hsl(0, 0%, 60%) #999 */
	_text-faded = light-shift(text-base, -50) /* hsl(0, 0%, 33%) #555 */
	_text-light = light-shift(text-base, -20) /* hsl(0, 0%, 50%) #808080 */
	/* Calcul un peu bizarre:
		- Teinte du fond,
		- Staturation du fond + 28%,
		- Luminescence du texte - 11%
	*/
	_text-faded-colored = hsl(
		hue(bg-base),
		saturation(satur-shift(bg-base, 11)),
		lightness(light-shift(text-base, -11))
	)
	
else
	_text-faded = text-base
	_text-light = text-base
	_text = text-base
	_text-bright = text-base
	_text-faded-colored = text-base

/* color: hsl(180, 9%, 53%) #7c9292; */

_light =	light-shift(bg-base, 260); /* hsl(180, 0%, 54%) #898a8a */
_lighter =	light-shift(bg-base, 300); /* hsl(180, 0%, 60%) #999a9a */
_lightest =	light-shift(bg-base, 426); /* hsl(180, 1%, 79%) #c9caca */
_bright = 	light-shift(bg-base, 480); /* hsl(0, 0%, 87%)   #dedede */
_white =	light-shift(bg-base, 99); 

_dark-lighter =	light-shift(bg-base, 40);  /* hsl(180, 5%, 21%) #333838 */
_dark-light =	bg-base;                   /* hsl(180, 7%, 15%) #232828 */
_dark-darker =	light-shift(bg-base, -27); /* hsl(180, 9%, 11%) #191e1e */
_dark-darkest =	light-shift(bg-base, -66); /* hsl(180, 21%, 5%) #0b1111 */
_black =        light-shift(bg-base, -95);

_shadow1 = alpha(_bright, 0.141); /* #dddddd24 */
_shadow2 = alpha(_bright, 0.122); /* #dddddd1f */
_shadow3 = alpha(_bright, 0.2);   /* #ddd3 */


@-moz-document domain("forums.rockiemag.com") {

	:root {
		/* NB: Conversion entre Stylus-lang et pur CSS, pour minimiser
		la quantité de non CSS */
		--text-bright: _text-bright;
		--text: _text;
		--text-light: _text-light;
		--text-faded: _text-faded;
		--text-faded-colored: _text-faded-colored;

		--white: _white;
		--bright: _bright;
		--lightest: _lightest;
		--lighter: _lighter;
		--light: _light;

		--dark-lighter: _dark-lighter;
		--dark-light: _dark-light;

		--dark-darker: _dark-darker;
		--dark-darkest: _dark-darkest;
		--black: _black;

		/*--red-dark: #37120f;*/
		--red-dark: #742720;
		--red-bright: #dd1b0a;

		--shadow1: _shadow1;
		--shadow2: _shadow2;
		--shadow3: _shadow3;

		--text-size: text-size;
	}

	/* ----------------------------------------------
	 *                Global
	 * ---------------------------------------------- */
	html {
		/* Pour les coins arrondis des headers/footers */
		background: var(--dark-darkest);
		font-size: var(--text-size);
	}
	.p-body {
		background: var(--dark-darkest);
	}

	.p-sectionLinks,
	.p-nav-list .p-navEl.is-selected,
	.uix_headerContainer .p-navSticky.is-sticky .p-sectionLinks {
		background: var(--dark-darker);
		color: var(--text);
	}
	.p-sectionLinks-list a:hover {
		color: var(--text-bright);
	}
	.p-sectionLinks .hScroller-action.hScroller-action--end {
		background: var(--dark-darker);
	}
	.p-sectionLinks .hScroller-action.hScroller-action--end:hover {
		color: var(--text-bright);
	}

	.p-body-header {
		background: var(--dark-darker);
	}
	.p-body-header .p-title-value {
		color: var(--text);
	}
	a.button.button--cta {
		background: var(--bright);
		color: var(--black);
	}
	a.button.button--cta:hover {
		background: var(--white);
		color: var(--black);
		box-shadow: 0 6px 10px 0 var(--shadow1),
					0 1px 18px 0 var(--shadow2),
					0 3px 5px 0 var(--shadow3);
	}
	.menu {
		box-shadow: 0 6px 10px 0 var(--shadow1),
					0 1px 18px 0 var(--shadow2),
					0 3px 5px 0 var(--shadow3);
	}

	/* Bandeau orange : menus déroulants */
	.menu-content {
		background: var(--dark-light);
		color: var(--text);
	}
	.menu-linkRow {
		color: var(--text);
	}
	.menu-linkRow:hover {
		background: var(--dark-darker);
	}
	/* Menu "Rechercher" */
	.menu-footer {
		background: var(--dark-darker);
		border-top-color: var(--black);
	}
	/* "Recherche avancée" */
	.button:hover, a.button:hover,
	.button:focus, a.button:focus {
		background: var(--red-dark);
		color: var(--text-bright);
	}

	/* Menu "Profil" */
	.menu-row.menu-row--highlighted {
		background: var(--dark-darker);
		color: var(--text);
	}
	.menu-separator {
		border-top-color: var(--black);
	}
	/* Menu "Conversations" / "Alertes" */
	.menu-header {
		background: var(--dark-darker);
		border-bottom-color: var(--black);
		color: var(--text-bright);
	}
	.menu-row.menu-row--separated + .menu-row {
		border-top-color: var(--black);
	}
	.menu-row.menu-row--alt {
		background: var(--dark-darkest);
		color: var(--text-light);
	}
	.menu-row.menu-row--clickable:hover {
		background: var(--dark-darkest);
	}
	.block-row.block-row--alt {
		background: var(--dark-light);
		color: var(--text);
	}

	/* Footer */
	.p-footer-copyrightRow {
		background: var(--dark-darkest);
		border-top-color: var(--black);
	}

/* ----------------------------------------------
 *                Conversations
 * ---------------------------------------------- */
	.structItem-title {
		color: var(--text);
	}
	.button.button--link {
		background: var(--dark-darkest);
		border-color: var(--lightest);
	}
	.button.button--link:hover {
		background: var(--red-dark);
	}

	.structItem.is-mod-selected {
		background: var(--dark-darkest);
	}
	.inlineModButton.is-mod-active {
		color: var(--text);
	}
	.inlineModButton-count {
		background: var(--dark-darker);
		color: var(--text);
	}

	.formRow.formRow--fullWidth + .formRow {
		border-top-color: var(--black);
	}
	.button.button--link {
		border-color: var(--black);
	}


/* ----------------------------------------------
 *                Profil
 * ---------------------------------------------- */
	.memberHeader-main {
		background: var(--dark-darker);
	}
	.block--messages .block-row {
		background: var(--dark-darker);
		color: var(--text)
	}
	.formRowSep {
		border-top-color: var(--black);
	}
	.block-formSectionHeader {
		border-bottom-color: var(--black);
		border-top-color: var(--black);
		color: var(--text);
	}
	.tabs-tab {
		color: var(--text-faded);
	}
	.button.button--primary:hover /* Bouton sauver, utilisé ailleurs ? */ {
		box-shadow: 0 6px 10px 0 var(--shadow1),
					0 1px 18px 0 var(--shadow2),
					0 3px 5px 0 var(--shadow3)
	}


/* ----------------------------------------------
 *                Quoi de neuf
 * ---------------------------------------------- */
	/* Bandeau de navigation */
	.tabs--standalone {
		color: var(--text);
	}
	.tabs--standalone .tabs-tab.is-active {
		border-bottom-color: var(--lightest);
		color: var(--text-bright);
	}
	.tabs--standalone .tabs-tab:hover {
		color: var(--text-bright);
	}

	/* Messges de profil */
	.input,
	.input:focus {
		background: var(--dark-darker);
		border-color: var(--black);
		color: var(--text);
	}
	.input::placeholder {
		color: var(--text-faded);
	}
	.message-responseRow {
		background: var(--dark-light);
		border-color: var(--black);
	}

	.actionBar,
	.message + .message,
	.block-row.block-row--separated + .block-row {
		border-top-color: var(--black);
	}

	/* Nouveaux messages */
	.block-filterBar .filterBar-filterToggle {
		background: var(--dark-darkest);
		color: var(--text-bright);
	}
	.block-filterBar .filterBar-filterToggle:hover {
		color: var(--red-bright);
	}
	.blockMessage /* Aucun message */ {
		background: var(--dark-light);
		box-shadow: 0 0 2px 0 var(--shadow1),
					0 2px 2px 0 var(--shadow2),
					0 1px 3px 0 var(--shadow3);
		color: var(--text);
	}

/* ----------------------------------------------
 *                Membres
 * ---------------------------------------------- */
	/* Barre latérale */
	.p-body-sideNav .block-minorHeader,
	.p-body-sideNav .block-header {
		border-bottom-color: var(--black) !important;
	}
	.blockLink {
		background: var(--dark-light);
		color: var(--text)
	}
	.blockLink.is-selected {
		background: var(--dark-darkest);
	}
	.blockLink:hover {
		background: var(--dark-darker);
	}
	.block-minorHeader {
		color: var(--text);
	}
	.block-body + .block-minorHeader {
		border-top-color: var(--black);
	}

	/* Partie centrale */
	.block-textHeader {
		color: var(--text-bright)
	}
	.memberOverviewBlock-seeMore {
		background: var(--dark-darker);
		border-color: var(--black);
	}
	.memberOverviewBlock-seeMore:hover {
		background: var(--dark-darkest);
	}

	/* Rechercher */
	.block-tabHeader {
		border-color: var(--black);
	}
	.block-tabHeader .tabs-tab.is-active {
		border-bottom-color: var(--text);
		color: var(--text);
	}
	.block-tabHeader .tabs-tab:hover {
		color: var(--text-bright);
	}
	.formRow > dt {
		background: var(--dark-light);
		border-color: var(--black);
	}
	.formSubmitRow-bar {
		background: var(--dark-darker);
		border-top-color: var(--black);
	}

	/* ------- Calendrier, et autres boutons ----- */
	.inputGroup.inputGroup--joined .inputGroup-text {
		background: var(--dark-darker);
		border-color: var(--black);
	}
	.inputGroup.inputGroup--joined .inputNumber-button:hover,
	.inputGroup.inputGroup--joined .inputNumber-button:active,
	.inputGroup.inputGroup--joined .inputNumber-button:focus {
		background: var(--dark-darkest);
	}
	.inputGroup.inputGroup--joined .input + .inputGroup-text {
		border-left-color: var(--dark-darkest);
	}
	/* Le widget */
	.pika-single {
		border-color: var(--black);
	}
	.pika-single,
	.pika-label {
		background: var(--dark-light);
		color: var(--text-bright);
	}
	.pika-prev, .pika-next { /* Boutons suivant/précédent */
		color: var(--text-bright);
	}
	.pika-table th { /* l'entête des mois */
		color: var(--text-bright);
	}
	.is-outside-current-month .pika-button { /* les jours hors du mois */
		background: var(--dark-darker);
		color: var(--text-faded);
	}
	.pika-button { /* les jours du mois */
		background: var(--dark-light);
		color: var(--text);
	}
	.is-today .pika-button  { /* aujourd'hui (obviously ^^ ) */
		background: var(--dark-darker);
		color: var(--text-bright);
	}
	.pika-button:hover {
		background: var(--dark-darker);
		color: var(--text);
	}



	/* ----------------------------------------------
 	 *                Liste des forums
	 * ---------------------------------------------- */
	.block-header,
	.node-title,
	.node-extra-row {
		color: var(--text);
		border-bottom-color: var(--black);
	}
	.node-icon > i::before {
		color: var(--text) !important;
	}
	.node-body {
		background: var(--dark-darker);
	}
	.node--depth2:nth-child(2n) .node-body {
		background: var(--dark-light);
	}
	.node-body:hover,
	.node--depth2:nth-child(2n) .node-body:hover {
		background: var(--dark-lighter);
	}
	.node-extra-row a:not(:hover) {
		color: var(--text-light);
	}
	.node + .node {
		border-top-color: var(--black);
	}
	.node-stats > dl.pairs.pairs--rows {
		border-right-color: var(--black);
	}
	.uix_nodeList .block-body {
	    box-shadow: 0 0 2px 0 var(--shadow1),
					0 2px 2px 0 var(--shadow2),
					0 1px 3px 0 var(--shadow3);
	}

	/* Sous-forum */
	.subNodeLink.subNodeLink--forum::before,
	.subNodeLink.subNodeLink--category::before {
		color: var(--text);
	}
	.subNodeMenu .subNodeLink:hover {
		background: var(--dark-darker);
	}

	/* Bouton "Nouveau" */
	.block-container .uix_newIndicator {
		background: var(--lighter);
		color: var(--black);
	}
	/* Colonne des membres / Derniers messages */
	.block-container {
		background: var(--dark-light);
		box-shadow: 0 0 2px 0 var(--shadow1),
					0 2px 2px 0 var(--shadow2),
					0 1px 3px 0 var(--shadow3);
		color: var(--text);
	}
	.block[data-widget-id] .block-minorHeader {
		background: var(--dark-light);
		border-bottom-color: var(--black);
		color: var(--text);
	}

	.button.is-disabled, a.button.is-disabled {
		background: var(--dark-light);
		color: var(--text);
	}
	.button.button--scroll, a.button.button--scroll {
		box-shadow: 1px 2px 2px 0 #00000040;
	}


	.block-footer {
		background: var(--dark-darker);
		border-top-color: var(--black);
		color: var(--text);
	}

	/* ----------------------------------------------
	 *             Liste des topics
	 * ---------------------------------------------- */
	.block-filterBar,
	.structItem:nth-child(2n) {
		background: var(--dark-darker);
	}
	.structItem {
		border-top-color: var(--black);
	}
	.structItem:hover {
		background: var(--dark-darkest);
	}
	.structItem-cell.structItem-cell--meta {
		border-left-color: var(--black);
		border-right-color: var(--black);
	}
	.block-filterBar .filterBar-menuTrigger:hover {
		background: var(--red-dark);
		color: var(--text-bright);
	}

	/* Boutons des pages de topic */
	.structItem-pageJump a {
		background: var(--dark-darker);
		border-color: var(--black);
	}
	.structItem-pageJump a:hover {
		background: var(--black);
		color: var(--text-bright);
	}

	/* Nouveau topic */
	textarea,
	input {
		background: var(--dark-light) !important;
		color: var(--text) !important;
	}
	textarea::placeholder,
 	input::placeholder {
		color: var(--text) !important;
	}
	select /* le nombre de jours */ {
		background: var(--dark-darker) !important;
		color: var(--text) !important;
	}
	select:hover  {
		background: var(--dark-darkest) !important;
	}


	/* ----------------------------------------------
	 *                Messages
	 * ---------------------------------------------- */
	.message-inner {
		color: var(--text);
	}
	.block--messages .message {
		background: var(--dark-darker);
	}
	.message-cell.message-cell--user {
		background: var(--dark-darker);
		border-right-color: var(--black);
	}
	.message-cell {
		background: var(--dark-light);
	}
	.message-actionBar,
	.message-signature {
		border-top-color: var(--black);
	}
	.message-signature,
	.message-attribution,
 	.message-lastEdit,
 	.actionBar .actionBar-action {
		color: var(--text-faded-colored);
	}
	/* Message d'alerte (ex. nouveau post) */
	.message-cell.message-cell--alert {
		background: var(--dark-light);
		color: var(--text-light);
	}
	/* Autocompletion des noms */
	.autoCompleteList {
		background: var(--dark-light);
		border-color: var(--black);
		color: var(--text);
	}
	.autoCompleteList li.is-selected {
		background: var(--dark-darker);
	}

	/* BBCode (Quotes, ...) */
	.bbCodeBlock {
		border-bottom-color: var(--black);
		border-right-color: var(--black);
		border-top-color: var(--black);
	}
	.bbCodeBlock-title {
		color: var(--text);
		background: var(--dark-light);
	}
	.bbCodeBlock-content {
		background: var(--dark-darker);
	}
	.bbCodeBlock-expandLink {
		background-image: linear-gradient(
			#f9fafa00 0%,
			var(--dark-darkest) 80%
		);
	}
	.bbCodeInline {
		background: var(--dark-darker);
		border-color: var(--black);
	}

	.attachUploadList {
		background: var(--dark-darker);
		border-color: var(--black);
	}
	.message-attachments {
		background: var(--dark-darkest);
	}
	.attachment {
		background: var(--dark-darker);
		border-color: var(--black);
	}

	.likeIcon::before {
		color: var(--text);
	}

	.p-breadcrumbs,
	.p-breadcrumbs > li a {
		color: #7c9292;
	}
	.p-breadcrumbs > li:last-child a {
		color: #586969;
	}

	/* Sondages */
	.pollResult-bar > i {
		background: var(--text-faded);
	}
	.block-separator {
		border-top-color: var(--black);
	}


	/* ----------------------------------------------
	 *                Reply
 	 * ---------------------------------------------- */
	.fr-basic,
	.fr-box.fr-basic .fr-wrapper {
		background: var(--dark-darker);
	}
	.fr-box.fr-basic .fr-wrapper,
	.fr-toolbar {
		border-bottom-color: var(--black);
		border-left-color: var(--black);
		border-right-color: var(--black);
	}
	.fr-box.fr-basic .fr-element {
		color: var(--text-light);
	}
	.fr-toolbar .fr-command.fr-btn.fr-dropdown::after,
	.fr-popup .fr-command.fr-btn.fr-dropdown::after {
		border-top-color: var(--text-light);
	}
	.fr-separator {
		background: var(--black);
	}

	.fr-desktop .fr-command:hover {
		color: var(--text-bright);
	}
	.fr-desktop .fr-command:hover::after,
	.fr-desktop .fr-command:focus::after {
		border-top-color: var(--text-bright) !important;
	}

	a.button.button--link {
		background: var(--dark-light);
		border-color: var(--black);
	}
	a.button.button--link:hover {
		background: var(--red-dark);
	}
	/* Mode BBCode activé */
	.fr-toolbar .fr-btn.fr-active[data-cmd="xfBbCode"] {
		color: var(--text-bright);
	}
	.fr-toolbar .fr-command.fr-btn.fr-disabled {
		color: var(--text-faded);
	}
	.fr-toolbar .fr-command.fr-btn.fr-disabled::after,
	.fr-popup .fr-command.fr-btn.fr-disabled::after {
		border-top-color: var(--text-faded) !important;
	}

	/* Menus */
	.fr-command.fr-btn + .fr-dropdown-menu .fr-dropdown-wrapper {
		background: var(--dark-light);
		border-color: var(--black);
		color: var(--text);
	}
	/* Menu URL */
	.fr-popup {
		background: var(--dark-darker);
		border-color: var(--black);
		color: var(--text);
	}
	.fr-popup .fr-buttons {
		border-bottom-color: var(--black);
	}
	.fr-popup .fr-input-focus {
		background: var(--dark-darkest);
	}
	.fr-popup .fr-input-line input[type="text"],
	.fr-popup .fr-input-line textarea {
		border-color: var(--black);
	}
	/* Smileys */
	.editorSmilies {
		background: var(--dark-darker);
		border-color: var(--black);
	}
	.tabs--editor {
		background: var(--dark-light);
		border-bottom-color: var(--black);
		color: var(--text);
	}
	.tabs--editor .tabs-tab.is-active,
 	.tabs--editor .tabs-tab:hover {
		color: var(--text-bright);
	}
	.tabs--editor .hScroller-action.hScroller-action--end {
		background: linear-gradient(to right,
 			#191e1e00 0%,
			#191e1e 33%
		);
	}
	.tabs--editor .hScroller-action:hover {
		color: var(--text-bright);
	}

	/* ----------------------------------------------
	 *                Nav buttons
 	 * ---------------------------------------------- */
	.pageNav-jump,
	.pageNav-page {
		background: var(--dark-darker);
		border-color: var(--black);
		color: var(--text-faded);
	}
	.pageNav-page:not(:first-child) {
		border-left-color: var(--black);
	}
	.pageNav-page.pageNav-page--current {
		color: var(--text);
		box-shadow: 0 -2px var(--light) inset
	}
	.pageNav-jump:hover,
	.pageNav-page:hover {
		color: var(--text-bright);
	}
	
	.overlay,
	.overlay-title {
		background: var(--dark-darker);
		border-bottom-color: var(--black);
		color: var(--text)
	}


	/* ----------------------------------------------
	 *           Popup de topic / membre
	 * ---------------------------------------------- */
	.tooltip--preview .tooltip-content,
	.tooltip--member .tooltip-content {
		background: var(--dark-darker);
		border-color: var(--black);
		color: var(--text);
	}
	.memberTooltip-separator,
	.tooltip--preview.tooltip--top .tooltip-arrow,
	.tooltip--member.tooltip--top .tooltip-arrow {
		border-top-color: var(--black);
	}
	.tooltip--preview.tooltip--top .tooltip-arrow::after,
	.tooltip--member.tooltip--top .tooltip-arrow::after {
		border-top-color: var(--dark-darker);
	}
	.tooltip--preview.tooltip--bottom .tooltip-arrow,
	.tooltip--member.tooltip--bottom .tooltip-arrow {
		border-bottom-color: var(--black);
	}
	.tooltip--preview.tooltip--bottom .tooltip-arrow::after,
	.tooltip--member.tooltip--bottom .tooltip-arrow::after {
		border-bottom-color: var(--dark-darkest);
	}

	/* Spécifique popup de topic */
	.tooltip--preview .tooltip-content-inner .tooltip-content-cover {
		background: linear-gradient( to bottom,
		#fff0 160px,
		var(--dark-darker) 200px);
	}
	.bbCodeBlock-expandLink a {
		color: var(--text-bright);
	}

	/* Spécifique popup de membre */
	.memberTooltip-header {
		background: var(--dark-darkest);
		border-bottom-color: var(--black);
	}
}

