/* ==UserStyle==
@name           Rockie Mag: Thème sombre
@namespace      github.com/openstyles/stylus
@version        1.0.0
@updateURL      https://git.fol.tf/fol/theme_rockiemag/raw/branch/master/forums.rockiemag.user.css
@homepageURL    https://git.fol.tf/fol/theme_rockiemag
@description    Un thème sombre pour le Rockie
@author         Fol
@preprocessor	stylus
@var	color		bg-base		'Couleur du fond'		#232828
@var	color		text-base	'Couleur du texte'		#999
@var	checkbox	colorblind	'Utiliser une seule couleur pour le texte' 0
@var_	number		text-size 	'Taille de la police'	[14, 8, 50, 2, "px"]
==/UserStyle== */


/* Drity hack because of an error in Stylus-lang processor:
  a = hsl(0, 0%, 60%)
  b = a + 50%
  // Buggy Stylus restults in: b = hsl(0, 0%, 80%)
  // Instead of:  b = hsl(0, 0%, 90%)
*/
hue-shift(color, percentage)
	hue(color, hue(color) + hue(color) * percentage / 100)
satur-shift(color, percentage)
	saturation(color, saturation(color) + saturation(color) * percentage / 100)
light-shift(color, percentage)
	lightness(color, lightness(color) + lightness(color) * percentage / 100)


if not colorblind
	_text-bright = light-shift(text-base, 35) /* hsl(0, 0%, 80%) #ccc */
	_text = text-base                         /* hsl(0, 0%, 60%) #999 */
	_text-faded = light-shift(text-base, -50) /* hsl(0, 0%, 33%) #555 */
	_text-light = light-shift(text-base, -20) /* hsl(0, 0%, 50%) #808080 */
	/* Calcul un peu bizarre:
		- Teinte du fond,
		- Staturation du fond + 28%,
		- Luminescence du texte - 11%
	*/
	_text-faded-colored = hsl(
		hue(bg-base),
		saturation(satur-shift(bg-base, 11)),
		lightness(light-shift(text-base, -11))
	)
	
else
	_text-faded = text-base
	_text-light = text-base
	_text = text-base
	_text-bright = text-base
	_text-faded-colored = text-base

/* color: hsl(180, 9%, 53%) #7c9292; */

_light =	light-shift(bg-base, 260); /* hsl(180, 0%, 54%) #898a8a */
_lighter =	light-shift(bg-base, 300); /* hsl(180, 0%, 60%) #999a9a */
_lightest =	light-shift(bg-base, 426); /* hsl(180, 1%, 79%) #c9caca */
_bright = 	light-shift(bg-base, 480); /* hsl(0, 0%, 87%)   #dedede */
_white =	light-shift(bg-base, 99); 

_dark-lighter =	light-shift(bg-base, 40);  /* hsl(180, 5%, 21%) #333838 */
_dark-light =	bg-base;                   /* hsl(180, 7%, 15%) #232828 */
_dark-darker =	light-shift(bg-base, -27); /* hsl(180, 9%, 11%) #191e1e */
_dark-darkest =	light-shift(bg-base, -66); /* hsl(180, 21%, 5%) #0b1111 */
_black =        light-shift(bg-base, -95);

_shadow1 = alpha(_bright, 0.141); /* #dddddd24 */
_shadow2 = alpha(_bright, 0.122); /* #dddddd1f */
_shadow3 = alpha(_bright, 0.2);   /* #ddd3 */


@-moz-document domain("www.rockiemag.com") {

	:root {
		/* NB: Conversion entre Stylus-lang et pur CSS, pour minimiser
		la quantité de non CSS */
		--text-bright: _text-bright;
		--text: _text;
		--text-light: _text-light;
		--text-faded: _text-faded;
		--text-faded-colored: _text-faded-colored;

		--white: _white;
		--bright: _bright;
		--lightest: _lightest;
		--lighter: _lighter;
		--light: _light;

		--dark-lighter: _dark-lighter;
		--dark-light: _dark-light;

		--dark-darker: _dark-darker;
		--dark-darkest: _dark-darkest;
		--black: _black;

		/*--red-dark: #37120f;*/
		--red-dark: #742720;
		--red-bright: #dd1b0a;

		--shadow1: _shadow1;
		--shadow2: _shadow2;
		--shadow3: _shadow3;

		--text-size: text-size;
	}
	
	/* ----------------------------------------------
	 *       Page d'accueil
	 * ---------------------------------------------- */
	body {
		color: var(--text);
	}
	#page,
 	.search-screen,
	.site-header {
		background: var(--dark-darker);
	}
	.site-header-main {
		background-image: linear-gradient(
			#fff 50%,
			var(--dark-darker) 95%
		);
		color: var(--black);
	}
	.sticky > .site-header-main {
		background-image: linear-gradient(
			#fff 60%,
			var(--dark-darker) 95%
		);
	}
	
	.sidebar .widget-title, .site-footer .widget-title {
		background: var(--dark-darkest);
		color: var(--text-bright);
	}
	.site-footer .footer-bottom {
		background: var(--dark-darker);
		color: var(--text);
	}
	.site-header .site-header-menu .main-navigation ul.sub-menu {
		background: var(--dark-darkest);
		color: var(--text);
	}
	
	/* ----------------------------------------------
	 *       Article
	 * ---------------------------------------------- */
	 .nc_wrapper.bottom {
		 background: var(--dark-darkest) !important;
	 }
	.post-entry h2.chapo {
		color: var(--text-bright);
	}
	.swp_social_panel div.total_shares.total_sharesalt,
 	.swp_social_panel .total_shares.total_sharesalt .swp_count,
 	.swp_social_panel .total_shares.total_sharesalt .swp_label {
		color: var(--text);
	}
	.tagcloud a {
		background: var(--dark-darkest);
		color: var(--text);
	}
	#primary .post-navigation {
		background: var(--dark-darker);
		color: var(--text);
	}
	
	/* ----------------------------------------------
	 *       Contact
	 * ---------------------------------------------- */
	textarea,
	input[type="text"] {
		background: var(--dark-light) !important;
		border-color: var(--dark-lighter);
		color: var(--text) !important;
	}
	input,
 	.site-content .button {
		background: var(--dark-darkest) !important;
		color: var(--text) !important;
	}
}

